#buscadorTodo{

	overflow:hidden;
	background-repeat: no-repeat;
	background-position: center center;	
	background-repeat: no-repeat;
	background-visibility: hidden;
	
	background-image: url("/imagenes/hotel1.jpg");
	animation: slide 40s linear infinite 0s;
	animation-timing-function: ease-in-out;
	
 
  background-size: 1500px 1500px;
	
}



@keyframes slide {
	
	0%{
	background-image: url("/imagenes/hotel3.jpg");
	
	}
	
	25%{
	background-image: url("/imagenes/hotel2.jpg");
	
	}
	
	50%{
	background-image: url("/imagenes/hotel1.jpg");
	
	}
	
	75%{
	background-image: url("/imagenes/hotel4.jpg");
	
	}
	
	100%{
	background-image: url("/imagenes/hotelhabitacion.jpg");
	
	}
	
	
}


.buscar h2 {
	text-align: center;
	font-family: Georgia;
	font-size: 50px;
}

.postbuscar {
	text-align: center;
	font-family: Georgia;
	font-size: 20px;
}

.buscar {
	display: inline;
	Line-Height: 30px;
}


h3 {
	font-family: Georgia;
	Line-Height: 5px;
	font-size: 15px;
}

.icon{
  position: absolute;
  margin-left: 0px;
  margin-top: 10px;
  color: white;  
}

#container_de_columnas{
	background-color: #b8b078;
}

input[type=text] {
	
	width: 80%;	
	margin: 10px 20px;
	border: none;
	background-color: #b8b078;	

}

input[type=date] {
	width: 80%;	
	margin: 10px 20px;
	border: none;
	background-color: #b8b078;
}

input[type=date]:focus {
	background-color: #87CEFA;
	border: 5 px;
}


select {
	width: 80%;	
	margin: 10px 20px;
	border: none;
	background-color: #b8b078;	
	font-size: 15px;	
	color: white;
}



input[type=submit] {
	width: 80%;	
	margin: 10px 20px;
	border: none;
	background-color: #b8b078;
	color:white;	
	
}


#garantizado{
 border: #b8b078;
  background-color:#69C223;
}




.espacio{
	
	margin-top: 300px;
}


#lista_hoteles{
	background-color: #DAD5D5;
}


#encabecadohotel{
	background-color: #b8b078;
	color: white;
	 border-style: double;
  border-color: white;	
  border-width: 10px;
    text-transform: uppercase;    
	font-family: Georgia;
	text-align:center;
}





ul {
	margin-left: -40px;
}

li {
	list-style: none;
}



.imagenHabitacionGrande img{
  display: inline-block;
 float: left;
 padding: 0px; 
height: 150px;
width: 180px;
}

.selectComidas select{
		width: 100%;	
	border: none;
	background-color: #b8b078;
	font-size: 15px;	
	color: black;
	display:inline;
	font-family: Georgia;
	font-weight:bold; 
}

h3{
font-family: Georgia; 
font-weight:bold; 
font-size: 30px; 
color: #b8b078; 
text-shadow: -1px 0 #292b2c, 0 1px #292b2c, 1px 0 #292b2c, 0 -1px #292b2c, -2px 2px 0 #292b2c, 2px 2px 0 #292b2c, 1px 1px #292b2c, 2px 2px #292b2c, 3px 3px #292b2c, 4px 4px #292b2c, 5px 5px #292b2c, 6px 6px #292b2c, 7px 7px #292b2c, 8px 8px #292b2c, 9px 9px #292b2c;

}

.habitacionTipo li{	
font-family: Georgia; 
font-weight:bold; 
}

.SubmitTipo input[type=submit]{	
	
	font-family: Georgia;
	color:white;
	font-weight:bold; 
	font-size: 15px;
	/*width: 40%;
	height: 6%;
	padding: 15px 22px;*/
	/*margin: 5px 10px;
	margin-top: -20px;*/
	border: none;
	border-color: none;
	background-color: none;
	
}

a{
	text-align: right;
	color: white;
}


 /*
 
 
.recogerBuscar{
	
	display: block;
	float:left;
	border: 3px solid black;
	box-sizing: border-box;
	position: relative;
  	left: 12%;
block-size: inherit;
background-color: #4f5457;
  
}
 
 
 .habitacionTipo {
	font-family: Georgia;
	font-size: 20px;
	line-height: 10pt;
}

 .habitacion {
	overflow: hidden;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	margin-top: 30px;
}

 
 .columnaHabitacion {
	float: left;
	width: 22%;
	padding: 10px;
	text-align: center;
}


.mitadColumnaHabitacion{
	float: left;
	width: 38%;
	padding: 20px;
	text-align: center;
	font-size: 10px;
	
}

.mitadColumnaHabitacion h3{
	
	text-align: center;
	font-size: 25px;
	

	}

 
 
 .input_photo{
	width: 75%;
	height: 5%;
	padding: 15px 22px;
	margin: 10px 5px;
	border: none;
	background-color: #b8b078;			
}
 
 input[type=button] {
	font-family: Georgia;
	font-size: 15px;
	width: 100%;
	padding: 15px 22px;
	margin: 10px 5px;
	border-color: black;
	background-color: #b8b078;
}

.columna {
	float: left;
	width: 15%;
	padding: 15px;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.columna {
		width: 100%;
	}
}

fila {
	content: "";
	display: table;
	clear: both;
}

.buttonLista {
	font-family: Oldtown, fantasy;
	font-size: 15px;
	width: 100%;
	padding: 15px 22px;
	margin: 10px 5px;
	background-color: #b8b078;
	text-align: center;
	color: white;
	margin: auto;
	border-color: black;
}

#panel {
	display: none;
}



tarifas {
	margin-top: -40px;
}
*/
 
/*
.buscador {
	height: auto;
	width: 1000px;
	margin: 0 auto;
	display: inline;
	font-family: Arial;
	font-size: 15px;
	float: center;
	padding: 20 px;
	overflow: hidden;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

div {
	margin: -10px -7px -10px -5px;
}
*/

