
.buscador {
	height: auto;
	width: 1000px;
	margin: 0 auto;
	display: inline;
	font-family: Arial;
	font-size: 15px;
	float: center;
	padding: 20 px;
	overflow: hidden;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

h2 {
	text-align: center;
	font-family: Oldtown, fantasy;
	font-size: 50px;
}

.postbuscar {
	text-align: center;
	font-family: Oldtown, fantasy;
	font-size: 20px;
}

.buscar {
	display: inline;
	Line-Height: 30px;
}

.columna {
	float: left;
	width: 22%;
	padding: 15px;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.columna {
		width: 100%;
	}
}

fila {
	content: "";
	display: table;
	clear: both;
}

h3 {
	font-family: Oldtown, fantasy;
	Line-Height: 5px;
	font-size: 25px;
}

input[type=date] {
	width: 100%;
	padding: 15px 22px;
	margin: 10px 5px;
	border: none;
	background-color: #B0E0E6;
}

input[type=date]:focus {
	background-color: #87CEFA;
	border: 5 px;
}

select {
	font-family: Oldtown, fantasy;
	font-size: 15px;
	width: 100%;
	padding: 15px 22px;
	margin: 10px 5px;
	border: none;
	color: white;
	background-color: #B0E0E6;
}

input[type=button] {
	font-family: Oldtown, fantasy;
	font-size: 25px;
	width: 100%;
	padding: 15px 22px;
	margin: 10px 5px;
	border-color: black;
	background-color: #B0E0E6;
}

input[type=submit] {
	font-family: Oldtown, fantasy;
	font-size: 25px;
	width: 100%;
	padding: 15px 22px;
	margin: 10px 5px;
	border-color: black;
	background-color: #B0E0E6;
}

div {
	margin: -10px -7px -10px -5px;
}

/*
	.contenido {
	background-color: #B0C4DE;  
	background-image: url("/imagenes/icon.jpg");
}*/

.contenido{
	width:auto;
	height: auto;
	/*background-position: center center;	
	background-repeat: no-repeat;
	background-visibility: hidden;*/
	animation-name: slide;
  animation-duration: 40s;
	background-image: url("/imagenes/hotel1.jpg");
	
}

@keyframes slide {
	
	0%{
	background-image: url("/imagenes/hotel1.jpg");
	}
	
	25%{
	background-image: url("/imagenes/jardin.jpg");
	}
	
	50%{
	background-image: url("/imagenes/photograph.jpg");
	}
	
	75%{
	background-image: url("/imagenes/hotel2.jpg");
	}
	
	100%{
	background-image: url("/imagenes/trip.jpg");
	}
	
	
}





ul {
	margin-left: -40px;
}

li {
	list-style: none;
}

.encabecadohotel {
	background-color: #DAD5D5;
}

.rehabitacion {
	background-color: #CDCDF7;
}

.habitacion {
	overflow: hidden;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	margin-top: 30px;
}

.columnaHabitacion {
	float: left;
	width: 22%;
	padding: 15px;
	text-align: center;
}

button {
	font-family: Oldtown, fantasy;
	font-size: 15px;
	width: 100%;
	padding: 15px 22px;
	margin: 10px 5px;
	background-color: #B0E0E6;
	text-align: center;
	color: white;
	margin: auto;
	border-color: black;
}

#panel {
	display: none;
}

.habitacionTipo {
	font-family: Oldtown, fantasy;
	font-size: 25px;
	line-height: 50pt;
}

ul.habitacion {
	margin: 15px 15px;
}

tarifas {
	margin-top: -40px;
}