/*
.buscador {
	height: auto;
	width: 1000px;
	margin: 0 auto;
	display: inline;
	font-family: Arial;
	font-size: 15px;
	float: center;
	padding: 20 px;
	overflow: hidden;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

div {
	margin: -10px -7px -10px -5px;
}
*/

h2 {
	text-align: center;
	font-family: Oldtown, fantasy;
	font-size: 50px;
}

.postbuscar {
	text-align: center;
	font-family: Oldtown, fantasy;
	font-size: 20px;
}

.buscar {
	display: inline;
	Line-Height: 30px;
}

.columna {
	float: left;
	width: 15%;
	padding: 15px;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.columna {
		width: 100%;
	}
}

fila {
	content: "";
	display: table;
	clear: both;
}

h3 {
	font-family: Oldtown, fantasy;
	Line-Height: 5px;
	font-size: 15px;
}

.icon{
  position: absolute;
  margin-left: 0px;
  margin-top: 10px;
  color: white;
  
}



.input_photo{
	width: 75%;
	height: 5%;
	padding: 15px 22px;
	margin: 10px 5px;
	border: none;
	background-color: #b8b078;
		
	
}

input[type=text] {
	
	width: 100%;	
	margin: 10px 20px;
	border: none;
	background-color: #b8b078;
	

}

input[type=date] {
	width: 100%;	
	margin: 10px 20px;
	border: none;
	background-color: #b8b078;
}

input[type=date]:focus {
	background-color: #87CEFA;
	border: 5 px;
}

select {
	width: 100%;	
	margin: 10px 20px;
	border: none;
	background-color: #b8b078;
	font-size: 15px;	
	color: white;
}

input[type=button] {
	font-family: Oldtown, fantasy;
	font-size: 15px;
	width: 100%;
	padding: 15px 22px;
	margin: 10px 5px;
	border-color: black;
	background-color: #b8b078;
}

input[type=submit] {
	font-family: Oldtown, fantasy;
	color:white;
	font-size: 15px;
	width: 100%;
	height: 10%;
	padding: 15px 22px;
	margin: 10px 50px;
	border-color: black;
	background-color: #b8b078;
}

.espacio{
	
	margin-top: 300px;
}

.recogerBuscar{
	
	display: block;
	float:left;
	border: 3px solid black;
	box-sizing: border-box;
	position: relative;
  	left: 12%;
block-size: inherit;
background-color: #4f5457;
  
}



.contenido{

	overflow:hidden;
	background-repeat: no-repeat;
	background-position: center center;	
	background-repeat: no-repeat;
	background-visibility: hidden;
	
	background-image: url("/imagenes/hotel1.jpg");
	animation: slide 40s linear infinite 0s;
	animation-timing-function: ease-in-out;
	
 
  background-size: 1500px 1500px;
	
}





@keyframes slide {
	
	0%{
	background-image: url("/imagenes/hotel3.jpg");
	
	}
	
	25%{
	background-image: url("/imagenes/hotel2.jpg");
	
	}
	
	50%{
	background-image: url("/imagenes/hotel1.jpg");
	
	}
	
	75%{
	background-image: url("/imagenes/hotel4.jpg");
	
	}
	
	100%{
	background-image: url("/imagenes/hotelhabitacion.jpg");
	
	}
	
	
}

.garantizado{
 
	  width: 175px;
	  height:50px;
 	margin-top:418px;
 	margin-left:1150px;
  border: 5px solid #b8b078;;
	padding:5px 5px;
  background-color:#69C223;
}


ul {
	margin-left: -40px;
}

li {
	list-style: none;
}

.encabecadohotel {
	background-color: #DAD5D5;
}

.rehabitacion {
	background-color: #CDCDF7;
}

.habitacion {
	overflow: hidden;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	margin-top: 30px;
}

.columnaHabitacion {
	float: left;
	width: 22%;
	padding: 15px;
	text-align: center;
}

.buttonLista {
	font-family: Oldtown, fantasy;
	font-size: 15px;
	width: 100%;
	padding: 15px 22px;
	margin: 10px 5px;
	background-color: #b8b078;
	text-align: center;
	color: white;
	margin: auto;
	border-color: black;
}

#panel {
	display: none;
}

.habitacionTipo {
	font-family: Oldtown, fantasy;
	font-size: 25px;
	line-height: 50pt;
}

ul.habitacion {
	margin: 15px 15px;
}

tarifas {
	margin-top: -40px;
}

