


#button {
  margin: 0;
  padding: 20;
  overflow: hidden;
  background-color: #333;  

 }
 
#button li {
 display: inline;

 }
 
#button li img{
  display: inline-block;
 float: left;
 padding: 0px; 
 border: 1px;
 height: 40;
 width: 90;
 
}

#menu{
  display: inline-block;
 font-family: Arial;
 font-size: 18px;
 float: right;
 padding: 10px;
  color:#b8b078;
  margin-left: 10px;
 }
 
 .menu1{
   display: inline-block;
 font-family: Arial;
 font-size: 18px;
 float: left;
 padding: 10px;
  color:#b8b078;
  margin-left: 10px;
 }
 
 a:link{
  color: #b8b078;
  text-decoration: none;
 }
  a:visited{
  color: #b8b078;
  text-decoration: none;
 }
  a:active{
  color: red;
 text-decoration: none;
 }
 img {
  display: inline-block;
}

.top{
    position: fixed;
    background-color: #4f5457;
    opacity: 1;
    width: 100%;
    top: 0;
    z-index: 1;    
    
}



.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #4f5457;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 8px 10px;
  position: fixed;
  z-index: 1;
  left: 80%;
  margin-left: -80px;
  top:10%;
 
  
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


.botonMyHotel{
	font-family: Oldtown, fantasy;
	font-size: 15px;
	width: 40%;
	padding: 15px 22px;
	margin: 10px 10px;
	background-color: #b8b078;
	text-align: center;
	color: white;
	margin-left: 10px;
	border: none;
	
}

.botonMyMenu{
	
	font-family: Oldtown, fantasy;
	font-size: 15px;
	width: 80%;
	padding: 15px 22px;
	margin: 10px 10px;
	background-color: #b8b078;
	text-align: center;
	color: white;
	margin-left: 10px;
	border: none;
	
}

header{
	width:100%;
	margin:auto;
}

body{
width: 100%;
padding-top: 50px;
margin:auto;
}
