
#todoJunto{
 font-family: Arial; 
  color:#b8b078;	
}

#todoJunto a:link{
  color: #b8b078;
  text-decoration: none;
 }
#todoJunto a:visited{
  color: #b8b078;
  text-decoration: none;
 }
#todoJunto a:active{
  color: white;
 text-decoration: none;
 }
  
 #redirigir1{
 display:none;
 }
 
  
 #redirigir2{
 display:none;
 }
 
 #redirigir3{
 display:none;
 }
 
 #redirigir4{
 display:none;
 }
 
  #redirigir5{
 display:none;
 }
 
  #redirigir6{
 display:none;
 }
 

#ul_de_cabecera_izq{
  overflow: hidden;
}

#ul_de_cabecera_izq li{
	 list-style:none;
 	padding: 10px;
}

#ul_de_cabecera_izq ul{
	 list-style:none;
}


#ul_de_cabecera_dch{
  overflow: hidden;
}

#ul_de_cabecera_dch li{
	 list-style:none;	 
 	padding: 10px;
}

#ul_de_cabecera_dch ul{
	 list-style:none;
}

#botonModal{
	
 font-family: Arial; 
  color:#b8b078;
  margin-top: -8px;  
  text-decoration: none;
}


#modalBotones{
	font-family: Arial;
	background-color: #b8b078;
	text-align: center;
	color: white;	
	border:none;
}

#modalTexto{
	font-family: Arial;
	color: #b8b078;
	text-align: center;
	text-transform: uppercase;
}  



.topCabecera{
    position: fixed;
    background-color: #4f5457;
    opacity: 1;
    width: 100%;
    top: 0;
    z-index: 1;    
}


header{
	width:100%;
	margin:auto;
}

body{
width: 100%;
padding-top: 20px;
margin:auto;
}







/**
  .botonMyHotel{
  	max-width: 70%;  
  }

.botonMyHotel{
	font-family: Oldtown, fantasy;
	font-size:1vw;
	padding: 15px 22px;
	margin: 10px 10px;
	background-color: #b8b078;
	text-align: center;
	color: white;
	margin-left: 10px;
	border: none;
	
}

.botonMyMenu{
	
	font-family: Oldtown, fantasy;
	font-size:1vw;
	width: 80%;
	padding: 15px 22px;
	margin: 10px 10px;
	background-color: #b8b078;
	text-align: center;
	color: white;
	margin-left: 10px;
	border: none;
	
}


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup 
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #4f5457;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 8px 10px;
  position: fixed;
  z-index: 1;
  left: 80%;
  margin-left: -80px;
  top:10%;
  
}

/* Popup arrow 
.popup .popuptext::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup 
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


  
  .popup .popuptext{
    max-width: 100px;  
  } 

 
#menu2Cabecera{
  display: inline-block;
 font-family: Arial;
 font-size:1vw;
 float: right;
 padding: 10px;
  color:#b8b078;
  margin-left: 10px;
 }

  
  .menuCabeceraGlobal1{
   margin-right: -100%;
  }
  
  
#buttonCabecera {
  margin: 0;
  padding: 20;
  overflow: hidden;
  background-color: #333;  
  width: 99%;  
 display: inline-block;

 }
 
#buttonCabecera li {
	 list-style:none;
 }


 .menu1Cabecera{
 font-family: Arial;
 font-size:1vw;
 float: left;
 padding: 10px;
  color:#b8b078;
  margin-left: 10px;

 }
 
 #buttonCabecera ul{
	 list-style:none;	
}




 #buttonCabecera li img{
  display: inline-block;
   height: auto;
 	max-width: 40%;
 float: left;
 padding: 0px; 
}

@media only screen and (max-width:620px) {
  For mobile phones: 
   #buttonCabecera li img{  
    max-width: 20%;
  	height: auto;
  	display: inline-block;
 float: left;
 padding: 0px; 
 position: relative;
    margin-left: -10%;
 
  }
  #buttonCabecera ul{
  display:inline-block;
  float:left;
  }
  
  
  
  .p1{
  float:left;
   margin-left: -250%;
   font-size: 2vw;
  }
  
   .p2{
  float:left;
   margin-left: -380%;
   font-size: 2vw;
  }
  
     .p3{
  float:left;
   margin-left: -470%;
   font-size: 2vw;
  }
  
  .p5{
   float:left;
   margin-left: -300%;
   font-size: 2vw;
  }
  
  .p4{
   float:left;
   margin-left: -400%;
   font-size: 2vw;
  }
**/
