


#button {
  margin: 0;
  padding: 20;
  overflow: hidden;
  background-color: #333;  

 }
 
#button li {
 display: inline;
 }
 
#button li img{
  display: inline-block;
 float: left;
 padding: 0px; 
 border: 1px;
 height: 40;
 width: 40;
 
}

#menu{
  display: inline-block;
 font-family: Arial;
 font-size: 15px;
 float: right;
 padding: 10px;
 }
 
 a:link{
  color: white;
  text-decoration: none;
 }
  a:visited{
  color: white;
  text-decoration: none;
 }
  a:active{
  color: red;
 text-decoration: none;
 }
 img {
  display: inline-block;
}

.top{
 
    position: fixed;
    
    background-color: #222;
    opacity: 1;
    width: 100%;
    top: 0;
    z-index: 1;
    
}

body{
width: 100%;
padding-top: 50px;
}