
* {
	box-sizing: border-box;
}

.blanco {
	position: relative;
	margin-top: 100px;
}

.column {
	float: left;
	width: 33%;
	padding: 10px;
	background-color: #ccc;
}

.column2 {
	border-left: 6px solid #b8b078;
	height: 200px;
	position: absolute;
	left: 33%;
}

.column3 {
	border-left: 6px solid #b8b078;
	height: 200px;
	position: absolute;
	left: 66%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}



.espacio2{
	margin-top: 150px;	
}

#container_resumen{
	background-color: #b8b078;
	opacity: 0.8;
}

#container_resumen:hover{
	  opacity: 1.0;
}

#row_resumen h3{
	  color: #0a0e27;
  margin: 20;
  text-align: left;
  font: italic bold 100px Georgia, Serif;
  /*text-shadow: -4px 3px 0 #b8b078, -14px 7px 0 #0a0e27;*/
font-size: 30px; 
}

#row_resumen h2{	
	color: white;
  margin: 25;
  font: italic 100px Georgia, Serif;
font-size: 20px; 
}






