
* {
	box-sizing: border-box;
}

.center{
	margin:120;
}

.cabeza{
	color: #0a0e27;
 	text-align: center;
  	font: italic bold 100px Georgia, Serif;
	font-size: 100px; 
	margin:50px
}

.contenido{
	color: #0a0e27;
 	text-align: center;
  	font: italic bold 100px Georgia, Serif;
	font-size: 25px; 
	margin: 12px;
}

.espacio2{
	margin-top: 51px;	
}

#container_boton i{
	text-align: center;
	 color: white; 
}

#container_boton input[type=submit]{
	margin: 10px;
	background-color: blue;
	opacity: 0.8;
	border-radius: 35px 35px 35px 35px;
	box-shadow: 2.5px 5px;	
	width: 40%;	
	border: none;
	color:white;	
}


